.CompetenciaSection {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.CompetenciaAgujeroImg{
    position: absolute;
    top: 0;
    width: 1920px;
    height:300px;
    background-image: url("../../assets/AgujeroNegro.jpg");
    background-position: center;
    background-position-y: -300px;
}

.CompetenciaInfoContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5%;
    margin-left: 50px;
}
.CompetenciaTextContainer {
    width: auto;
    max-width: 800px;
}

.CompetenciaInfo {
    font-size:20px;
}

.CompetenciaTitle{
    font-size:100px;
    writing-mode: vertical-lr;
}

.CansatArg{
    width: 200px;
    margin-left: 9vw;
}

