.CompetenciaSection {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    height: max-content;
    background-color: rgba(17, 17, 17);
}

.CompetenciaAgujeroImg{
    position: absolute;
    top: 0px;
    width: 1920px;
    height:300px;
    background-image: url("../../assets/AgujeroNegro.jpg");
    background-position: center;
    background-position-y: -300px;
    box-shadow: 0.5vw 0.5vw 1vw black;
}

.CompetenciaInfoContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5%;
    margin-left: 50px;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    bottom: 0px;
}
.CompetenciaTextContainer {
    width: auto;
    max-width: 800px;
}

.CompetenciaInfo {
    font-size:20px;
}

.CompetenciaTitle{
    writing-mode: vertical-lr;
}

.CansatArg{
    width: 200px;
    margin-left: 9vw;
}

