body {
  margin: 0;
  font-family: 'd-din-din-bold',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(17, 17, 17);
  font-size: 13px;
  width: 100%;
  overflow-x: hidden;
  color: white;
  scroll-behavior:smooth;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  padding:0 0 0 150px;
  box-sizing: border-box;
}

section{
    width: 100%;
}

ul, li{
  list-style:none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

figure{
  margin: 0;
}

h1, h2{
  margin: 0;
  color: white;
}

p{
  font-size: 20px;
  margin: 20px 0;
}

a:link { 
  text-decoration:none;
} 
a:visited { 
  text-decoration:none;
  color: white;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}